.header {
    background-color: $primary-color;
    padding: 12px 0;
    &__container {
        margin: 0 auto;
        width: $m;
        @include flex-between;
        align-items: center;
        @include scr-mw(1280px){
            width: 90%;
        }
    }
}

.nav {
    &__list {
        @include flex();
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {}

    &__link {
        @include text($font-alt, $text-main, 14px, 400);
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 20px 21px;

        &:hover {
            background-color: $secondary-color;
        }
    }
}