.hero {
    @include section-bg('../img/bg_hero.jpg');
    text-align: center;
    padding: 265px 0 140px;

    &__body {
        margin: 0 auto;
        text-align: center;
        width: $xl;
    }

}

.search-form {
    @include flex();
    justify-content: center;
    width: 100%;
    font-size: 0;
    margin: 0 0 115px;
    box-sizing: border-box;
    padding: 0 175px;

    &__input {
        @include text($font-main, $dark-grey, 20px, 400);
        width: $search-width;
        border: 0;
        padding: 0 15px;

        &:invalid {
            border: 2px solid rgb(255, 119, 119);
        }
        
        &:valid {
            border: 2px solid rgb(145, 248, 145);
        }

        &::placeholder {
            text-align: center;
            @include text($font-main, $placeholder, 14px, 300);
            letter-spacing: 2.8px;
            text-transform: capitalize;
        }

        &:focus {
            outline: none;
        }
    }
}

.title {
    @include text($font-main, $text-main, 48px, 400);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin: 0;

    &--header {
        text-decoration: none;
        font-size: 24px;
        letter-spacing: 2.4px;
        margin: 0;
        padding: 0 20px;
    }

    &--footer {
        display: inline-block;
        text-decoration: none;
        font-size: 24px;
        letter-spacing: 3.36px;
        margin: 0 0 8px 0;
        padding: 0;
    }
}

.subtitle {
    @include text($font-main, $text-main, 22px, 300);
    letter-spacing: 5.8px;
    margin: 0 0 45px;
    text-transform: capitalize;

    &--footer {
        font-size: 16px;
        letter-spacing: 1px;
        margin: 0 0 25px 0;
    }
}

.scroll-down {
    display: inline-block;

    &__button {
        @include text($font-main, $text-main, 14px, 300);
        display: inline-block;
        text-decoration: none;
        letter-spacing: 2.3px;

        &::after {
            position: relative;
            box-sizing: border-box;
            content: '';
            display: block;
            margin: 0 auto;
            width: 15px;
            height: 15px;
            top: 7px;
            background: url('../img/icons/arrow-down.png') no-repeat center;
        }

        &:hover::after {
            top: 20px;
            transition: .2s;
        }
    }
}