.section {
    padding: 120px 0;

    &--bg-castle {
        @include section-bg('../img/bg_castle.jpg')
    }

    &--bg-hotel {
        padding: 229px 0 100px;
        @include section-bg('../img/bg_hotel.jpg');
    }

    &--bg-island {
        padding: 229px 0 100px;
        @include section-bg('../img/bg_island.jpg');
    }

    &--bg-fback {
        padding-bottom: 200px;
        @include section-bg('../img/bg_testimonials.jpg');
        
    }

    &__body {
        // padding: 0 30px;
        padding: 0 5px;
        box-sizing: border-box;
        width: $s;

        @include scr-mw(1500px){
            width: $m;
        }

        @include scr-mw(1280px) {
            width: $xl;
        }

        margin: 0 auto;
        @include flex();
        align-items: center;

        &--right {
            justify-content: flex-end;
        }

        &--fback {
            flex-wrap: wrap;
            justify-content: center;
            @include scr-mw(1500px){
                width: $m;
            }
        }

    }

    &__content {
        flex-basis: 50%;
        margin: 0 30px 0 0;
        position: relative;

        &--overlay {
            flex-basis: calc(50% - 15px);
            padding: 50px 27px 46px;
            box-sizing: border-box;
            margin: 0;

            &::before {
                @include overlay(rgba(35, 35, 35, .9));
            }
        }

        &--features {
            box-sizing: border-box;
            padding: 10px 0;
            margin-right: 65px;
            flex-basis: 60%;
        }

        &--fback {
            background-color: $dark-grey;
            flex-basis: 60%;
            margin: 0;
            box-sizing: border-box;
            padding: 50px 50px 40px 60px;;
        }

        &-body {
            @include flex-wrapped();
            justify-content: center;
        }

        &-header {
            position: relative;

            &--features {
                padding: 60px 0;
            }

            &--fback{
                margin-bottom: 38px;
            }
        }

        &-supheading {
            @include text($font-main, $text-secondary, 20px, 300);
            display: inline-block;
            margin-bottom: 25px;
            letter-spacing: 1px;
        }

        &-heading {
            @include text($font-main, $text-main, 20px, 300);
            text-transform: uppercase;
            margin: 0 0 20px;
            letter-spacing: -0.5px;

            &--features {
                @include text($font-alt, $text-main, 36px, 400);
                text-transform: capitalize;
                margin: 0;
                letter-spacing: 0;
            }

            &--fback {
                margin-bottom: 0;
            }
        }

        &-desc {
            @include text($font-main, $text-secondary, 16px, 300);
            line-height: 26px;
            margin: 0 0 45px;
            position: relative;
            letter-spacing: -0.6px;

            &--features {
                position: relative;
                letter-spacing: 1px;
                margin: 0 0 35px;
            }

            &--fback {
                margin: 0;
                text-indent: 30px;
            }
            
            .fas{
                position: absolute;
                text-indent: -30px;
                top: -12px;
                color: $primary-color;
                font-size: 20px;
            }
        }
    }
    
    &__heading {
        @extend .section__content-heading--features;
        
        &--fback {
            flex-basis: 100%;
            text-align: center;
            letter-spacing: 0.6px;
            margin-bottom: 90px;
        }
    }

    &__preview {
        flex-basis: 50%;

        &--fback {
            flex-basis: 40%;
            @include scr-mw(1200px){
                flex-basis: 60%;
            }
        }

        &::after {
            display: table;
            content: '';
            clear: both;
        }

        .preview__image {
            display: block;
            width: 100%;
            height: auto;
            max-width: 350px;

            &--left {
                float: left;
                margin: 0 0 5px 0;
            }

            &--right {
                float: right;
            }

            &--fback {
                height: 100%;
                max-width: none;
            }
        }
    }
}

.steps {
    background-color: $dark-grey;
    padding: 0 0 120px;

    &__body {
        width: $s;
        padding: 80px 70px 0;
        box-sizing: border-box;
        margin: 0 auto;
        @include flex-between();
        text-align: center;
        position: relative;
        @include section-bg('../img/dot-lines.png');
        background-size: 75%;

        @include scr-mw(1500px){
            width: $m;
        }
        @include scr-mw(1280px) {
            width: $xl;
        }
    }

    &__content {}

    &__image-container {
        margin: 0 auto;
        @include flex-centered();
        background-color: $dark-grey;
        border-radius: 50%;
        height: 96px;
        width: 96px;
        margin-bottom: 15px;
    }

    &__image {}

    &__label {
        display: block;
        @include text($font-alt, $text-secondary, 36px, 400);
        line-height: 26px;
        text-transform: capitalize;
    }
}