@mixin flex() {
    display: flex;
}

@mixin flex-wrapped() {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end() {
    display: flex;
    justify-content: flex-end;
}

@mixin text ($family, $color, $size, $weight) {
    font-family: $family;
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin section-bg($url) {
    background: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin overlay($color) {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $color;
}

@mixin button($bg, $hover) {
    @include text($font-alt, $text-main, 16px, 400);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: $bg;
    cursor: pointer;
    padding: 20px 25px;
    width: 150px;
    border: 0;

    &:hover {
        background-color: $hover;
    }

    &:focus {
        outline: none;
    }

    &--search {
        padding: 19px 25px;
        border: 2px solid white;

        &::after {
            content: '';
            background: url('../img/icons/search.png') no-repeat center;
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            left: 10px;
        }
    }
}