@mixin flex() {
    display: flex;
}

@mixin flex-wrapped() {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-centered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end() {
    display: flex;
    justify-content: flex-end;
}

@mixin text ($family, $color, $size, $weight) {
    font-family: $family;
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin section-bg($url) {
    background: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin overlay($color) {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $color;
}

@mixin scr-mw($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}