$primary-color: #5474fd;
$secondary-color: #496bfe;
$text-main: #ffffff; 
$text-secondary: #e8e8e8;
$section-title: #fefefe;
$placeholder: #999999;
$dark-bg: #232323;
$dark-grey:#333333;

$font-main: "Josefin Sans";
$font-alt: "Aleo";

$s: 60%;
$m: calc(75% + 30px);
$xl: calc(85% + 30px);
$search-width: 65%;
